<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zuoer.sofa.blog.dal.mapper.ArticleMapper">
  <resultMap id="BaseResultMap" type="com.zuoer.sofa.blog.dal.entity.ArticleDO">
    <!--
      WARNING - @mbg.generated
    -->
    <result column="id" jdbcType="INTEGER" property="id" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate" />
    <result column="gmt_modified" jdbcType="TIMESTAMP" property="gmtModified" />
    <result column="introduction" jdbcType="VARCHAR" property="introduction" />
    <result column="md_material" jdbcType="VARCHAR" property="mdMaterial" />
    <result column="html_material" jdbcType="VARCHAR" property="htmlMaterial" />
  </resultMap>

  <select id="selectById" resultMap="BaseResultMap">
		select id, title,  gmt_create, gmt_modified, introduction, md_material, html_material  from article where id = #{id}
    </select>
  <delete id="deleteById">
		delete from article where id = #{id}
    </delete>
  <insert id="insert" parameterType="com.zuoer.sofa.blog.dal.entity.ArticleDO">
		insert into article(  id, title,  gmt_create, gmt_modified, introduction, md_material, html_material)
		 values (seq_article.nextval,#{title,jdbcType=VARCHAR},sysdate,sysdate,#{introduction,jdbcType=VARCHAR},#{mdMaterial,jdbcType=VARCHAR},#{htmlMaterial,jdbcType=VARCHAR})
    </insert>
  <update id="updateById" parameterType="com.zuoer.sofa.blog.dal.entity.ArticleDO">
        update article set title=#{title,jdbcType=VARCHAR}, introduction=#{introduction,jdbcType=VARCHAR}, md_material=#{mdMaterial,jdbcType=VARCHAR}, html_material=#{htmlMaterial,jdbcType=VARCHAR}, gmt_modified=sysdate where  id = #{id,jdbcType=INTEGER}
    </update>
  <select id="selectByIds" resultMap="BaseResultMap">
    select id, title,  gmt_create, gmt_modified, introduction, md_material, html_material  from article
    where
    <foreach collection="ids" item="id" open=" id in(" close=")" separator=",">
      #{id}
    </foreach>
  </select>
  <delete id="deleteByIds">
    delete from article where
    <foreach collection="ids" item="id" open=" id in(" close=")" separator=",">
      #{id}
    </foreach>
  </delete>

</mapper>