<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="me.zbl.fullstack.mapper.TagMapper">
    <resultMap id="BaseResultMap" type="com.zuoer.sofa.blog.dal.entity.TagDO">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate"/>
        <result column="gmt_modified" jdbcType="TIMESTAMP" property="gmtModified"/>
    </resultMap>

    <select id="selectById" resultMap="BaseResultMap">
		select id,name,  gmt_create, gmt_modified  from tag where id = #{id}
    </select>
    <delete id="deleteById">
		delete from tag where id = #{id}
    </delete>
    <insert id="insert" parameterType="com.zuoer.sofa.blog.dal.entity.TagDO">
		insert into tag(  id,name,  gmt_create, gmt_modified)
		 values (#{id},#{username},#{password},#{birthDate},#{nickname},#{email},#{github},#{qq},#{wecaht},#{avatar},sysdate,sysdate,#{hobby},#{motto},#{md_info})
    </insert>
    <update id="updateById" parameterType="com.zuoer.sofa.blog.dal.entity.TagDO">
        update tag set title=#{title}, introduction=#{introduction}, md_material=#{mdMaterial}, html_material=#{htmlMaterial}, gmt_modified=sysdate where  id = #{id}
    </update>
    <select id="selectByIds" resultMap="BaseResultMap">
        select id,name,  gmt_create, gmt_modified  from tag
        where
        <foreach collection="ids" item="id" open=" id in(" close=")" separator=",">
            #{id}
        </foreach>
    </select>
    <delete id="deleteByIds">
        delete from tag where
        <foreach collection="ids" item="id" open=" id in(" close=")" separator=",">
            #{id}
        </foreach>
    </delete>
</mapper>