<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zuoer.sofa.blog.dal.mapper.UserMapper">
  <resultMap id="BaseResultMap" type="com.zuoer.sofa.blog.dal.entity.UserDO">
    <!--
      WARNING - @mbg.generated
    -->
    <result column="id" jdbcType="INTEGER" property="id" />
    <result column="username" jdbcType="VARCHAR" property="username" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="birth_date" jdbcType="TIMESTAMP" property="birthDate" />
    <result column="nickname" jdbcType="VARCHAR" property="nickname" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="github" jdbcType="VARCHAR" property="github" />
    <result column="qq" jdbcType="VARCHAR" property="qq" />
    <result column="wecaht" jdbcType="VARCHAR" property="wecaht" />
    <result column="avatar" jdbcType="VARCHAR" property="avatar" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="level" jdbcType="INTEGER" property="level" />
    <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate" />
    <result column="gmt_modified" jdbcType="TIMESTAMP" property="gmtModified" />
    <result column="hobby" jdbcType="VARCHAR" property="hobby" />
    <result column="motto" jdbcType="VARCHAR" property="motto" />
    <result column="md_info" jdbcType="VARCHAR" property="mdInfo" />
  </resultMap>

  <select id="selectById" resultMap="BaseResultMap">
		select id, username, password, birth_date, nickname, email, github, qq, wecaht, avatar,status,user_level, gmt_create, gmt_modified, hobby, motto, md_info  from user_base where id = #{id}
   </select>
  <delete id="deleteById">
		delete from user_base where id = #{id}
    </delete>
  <insert id="insert" parameterType="com.zuoer.sofa.blog.dal.entity.UserDO">
		insert into user_base(  id, username, password, birth_date, nickname, email, github, qq, wecaht, avatar,status,user_level, gmt_create, gmt_modified, hobby, motto, md_info)
		 values (seq_user_base.nextval,#{username,jdbcType=VARCHAR},#{password,jdbcType=VARCHAR},#{birthDate,jdbcType=TIMESTAMP},#{nickname,jdbcType=VARCHAR},#{email,jdbcType=VARCHAR},#{github,jdbcType=VARCHAR},#{qq,jdbcType=VARCHAR},#{wecaht,jdbcType=VARCHAR},#{avatar,jdbcType=VARCHAR},#{status,jdbcType=INTEGER},#{userLevel,jdbcType=INTEGER},sysdate,sysdate,#{hobby,jdbcType=VARCHAR},#{motto,jdbcType=VARCHAR},#{mdInfo,jdbcType=VARCHAR})

    </insert>
  <update id="updateById" parameterType="com.zuoer.sofa.blog.dal.entity.UserDO">
        update user_base set username=#{username,jdbcType=VARCHAR}, password=#{password,jdbcType=VARCHAR}, birth_date=#{birthDate,jdbcType=TIMESTAMP}, nickname=#{nickname,jdbcType=VARCHAR},
        email=#{email,jdbcType=VARCHAR}, github=#{github,jdbcType=VARCHAR}, qq=#{qq,jdbcType=VARCHAR}, wecaht=#{wecaht,jdbcType=VARCHAR}, avatar=#{avatar,jdbcType=VARCHAR}, gmt_modified=sysdate,
        hobby=#{hobby,jdbcType=VARCHAR}, motto=#{motto,jdbcType=VARCHAR}, md_info=#{mdInfo,jdbcType=VARCHAR} where  id = #{id,jdbcType=INTEGER}
    </update>
  <select id="selectByIds" resultMap="BaseResultMap">
    select id, username, password, birth_date, nickname, email, github, qq, wecaht, avatar,status,user_level, gmt_create,
    gmt_modified, hobby, motto, md_info from user_base
    where
    <foreach collection="ids" item="id" open=" id in(" close=")" separator=",">
      #{id}
    </foreach>
  </select>
  <delete id="deleteByIds">
    delete from user_base where
    <foreach collection="ids" item="id" open=" id in(" close=")" separator=",">
      #{id}
    </foreach>
  </delete>

  <insert id="insertBatch" parameterType="com.zuoer.sofa.blog.dal.entity.UserDO">
    insert all
    <foreach collection="dbDoList" item="item">
      into user_base( id, username, password, birth_date, nickname, email, github, qq, wecaht, avatar,status,user_level,
      gmt_create, gmt_modified, hobby, motto, md_info)
      values
      (#{item.id},#{item.username},#{item.password},#{item.birthDate},#{item.nickname},#{item.email},#{item.github},#{item.qq},#{item.wecaht},#{item.avatar},sysdate,sysdate,#{item.hobby},#{item.motto},#{item.md_info})
    </foreach>
  </insert>
</mapper>