<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zuoer.sofa.blog.dal.dao.UserBaseMapper">
  <resultMap id="BaseResultMap" type="com.zuoer.sofa.blog.dal.dateobject.UserBaseDO">
    <result column="ID" jdbcType="DECIMAL" property="id" />
    <result column="USERNAME" jdbcType="VARCHAR" property="username" />
    <result column="PASSWORD" jdbcType="VARCHAR" property="password" />
    <result column="BIRTH_DATE" jdbcType="TIMESTAMP" property="birthDate" />
    <result column="NICKNAME" jdbcType="VARCHAR" property="nickname" />
    <result column="EMAIL" jdbcType="VARCHAR" property="email" />
    <result column="GITHUB" jdbcType="VARCHAR" property="github" />
    <result column="QQ" jdbcType="VARCHAR" property="qq" />
    <result column="WECAHT" jdbcType="VARCHAR" property="wecaht" />
    <result column="AVATAR" jdbcType="VARCHAR" property="avatar" />
    <result column="GMT_CREATE" jdbcType="TIMESTAMP" property="gmtCreate" />
    <result column="GMT_MODIFIED" jdbcType="TIMESTAMP" property="gmtModified" />
    <result column="HOBBY" jdbcType="VARCHAR" property="hobby" />
    <result column="MOTTO" jdbcType="VARCHAR" property="motto" />
    <result column="MD_INFO" jdbcType="VARCHAR" property="mdInfo" />
    <result column="STATUS" jdbcType="DECIMAL" property="status" />
    <result column="USER_LEVEL" jdbcType="DECIMAL" property="userLevel" />
    <!--
      WARNING - @mbg.generated
      This element is automatically generated by MyBatis Generator, do not modify.
    -->
  </resultMap>
  <select id="selectByEmail" resultMap="BaseResultMap">
    <!--
      WARNING - @mbg.generated
      This element is automatically generated by MyBatis Generator, do not modify.
    -->
    
			select id, username, password, birth_date, nickname, email, github, qq, wecaht, avatar,status,user_level, gmt_create, gmt_modified, hobby, motto, md_info  from user_base  where id=#{id} 
  </select>
  <select id="selectByUserName" resultMap="BaseResultMap">
    <!--
      WARNING - @mbg.generated
      This element is automatically generated by MyBatis Generator, do not modify.
    -->
    
			select id, username, password, birth_date, nickname, email, github, qq, wecaht, avatar,status,user_level, gmt_create, gmt_modified, hobby, motto, md_info   from user_base  where username=#{username} 
  </select>
  <insert id="insert">
    <!--
      WARNING - @mbg.generated
      This element is automatically generated by MyBatis Generator, do not modify.
    -->
    
			insert into user_base( id, username, password, birth_date, nickname, email, github, qq, wecaht, avatar,status,user_level, gmt_create, gmt_modified, hobby, motto, md_info) values (#{id},#{username},#{password},#{birth_date},#{nickname},#{email},#{github},#{qq},#{wecaht},#{avatar},#{status},#{user_level},sysdatesysdate#{hobby},#{motto},#{md_info})
  </insert>
  <select id="selectAll" resultMap="BaseResultMap">
    <!--
      WARNING - @mbg.generated
      This element is automatically generated by MyBatis Generator, do not modify.
    -->
    
			select id, username, password, birth_date, nickname, email, github, qq, wecaht, avatar,status,user_level, gmt_create, gmt_modified, hobby, motto, md_info  from user_base
		
  </select>
</mapper>